In [ ]:
import pandas as pd 
df1=pd.DataFrame({
    'Key':['A','B','C'],
    'Value1':[1,2,3],
})
df2=pd.DataFrame({
    'Key':['A','B','D'],
    'Value2':[4,5,6],
})
print(df1)
print('\n')
print(df2)
print('---------------------------------------------')
print(pd.merge(df1,df2,on='Key',how='inner'))
print('-------------------------------------')
print(pd.merge(df1,df2,on="Key",how='outer'))
print('------------------------------------')
print(pd.merge(df1,df2,on='Key',how='left'))

  Key  Value1
0   A       1
1   B       2
2   C       3


  Key  Value2
0   A       4
1   B       5
2   D       6
---------------------------------------------
  Key  Value1  Value2
0   A       1       4
1   B       2       5
-------------------------------------
  Key  Value1  Value2
0   A     1.0     4.0
1   B     2.0     5.0
2   C     3.0     NaN
3   D     NaN     6.0
------------------------------------
  Key  Value1  Value2
0   A       1     4.0
1   B       2     5.0
2   C       3     NaN

In [2]:
## right joing {more priority for df2 colums}
pd.merge(df1,df2,on='Key',how='right')

  Key  Value1  Value2
0   A     1.0       4
1   B     2.0       5
2   D     NaN       6