In [1]:
import pandas as pd
print(pd)

<module 'pandas' from 'c:\\Users\\Mahadev Athani\\anaconda3\\Lib\\site-packages\\pandas\\__init__.py'>

In [3]:
import pandas as pd
data=[1,2,3,4,5]
sr=pd.Series(data)
print(sr)
print(type(sr))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
## series from dictionary 
data={
    'a':1,
    'b':2,
    'c':3,
}
d=pd.Series(data)
print(d)
print(type(d))

a    1
b    2
c    3
dtype: int64
<class 'pandas.core.series.Series'>

In [7]:
data=[10,20,30]
index=['a','b','c']
pd.Series(data,index)

a    10
b    20
c    30
dtype: int64

In [9]:
## DataFrame
##create a DaatFrame from a dictioanry
data={
    "Name":["Mahadev","jack","John"],
    "Age":[20,30,56],
    "City":["Banglore","New York","Texas"],
}
data_frame=pd.DataFrame(data)
print(data_frame)
print(type(data_frame))

      Name  Age      City
0  Mahadev   20  Banglore
1     jack   30  New York
2     John   56     Texas
<class 'pandas.core.frame.DataFrame'>

In [10]:
import numpy as np 
np.array(data_frame)

array([['Mahadev', 20, 'Banglore'],
       ['jack', 30, 'New York'],
       ['John', 56, 'Texas']], dtype=object)

In [17]:
## Create a data frame from a list of dictionaries
data=[
   {
       "Name":"Mahadev",
       "Age":32,
       "City":"Banglore",
   },
   {
       "Name":"Shankar",
       "Age":45,
       "City":"Belagavi",
   },
]
df=pd.DataFrame(data)
print(df)
print(type(data))

      Name  Age      City
0  Mahadev   32  Banglore
1  Shankar   45  Belagavi
<class 'list'>

In [3]:
import pandas as pd
df=pd.read_csv('test.csv')
# print(df.head(150))
print(df['Name'])

KeyError: 'Name'

In [29]:
## Accessing data from dataFrame
df.iloc[3]

Sl.No.                                  4
APPLICATION NUMBER              VA5000559
Candidate Name        PREETHAAM R HOSGAVI
Reg No                        118310130.0
PAPER 1                             49.75
PAPER 2                              54.5
tm                                 104.25
Name: 3, dtype: object

In [5]:
data=[
   {
       "Name":"Mahadev",
       "Age":32,
       "City":"Banglore",
   },
   {
       "Name":"Shankar",
       "Age":45,
       "City":"Belagavi",
   },
   {
       'Name':"Savita",
       'Age':35,
       'City':'Alaknoor'
   },
]
df=pd.DataFrame(data)

print(df)

      Name  Age      City
0  Mahadev   32  Banglore
1  Shankar   45  Belagavi
2   Savita   35  Alaknoor

In [7]:
## add column
df['Salary']=[3400,5000,6700]
df

      Name  Age      City  Salary
0  Mahadev   32  Banglore    3400
1  Shankar   45  Belagavi    5000
2   Savita   35  Alaknoor    6700

In [15]:
df.drop("Salary",axis=1,inplace=True)
df

      Name  Age      City
0  Mahadev   32  Banglore
1  Shankar   45  Belagavi
2   Savita   35  Alaknoor

In [23]:
## add age to col
df['Age']=df["Age"]+1
print(df)
print(df.describe())

      Name  Age      City
0  Mahadev   73  Banglore
1  Shankar   73  Belagavi
2   Savita   73  Alaknoor
        Age
count   3.0
mean   73.0
std     0.0
min    73.0
25%    73.0
50%    73.0
75%    73.0
max    73.0

In [1]:
import pandas as pd 
df=pd.read_csv('data_result.csv')
print(df)

      Unnamed: 0  Sl.No.                Candidate Name  total
0              0       1                  DIVYASHREE M   88.75
1              1       2                    PRADEEP GN   70.00
2              2       3                       NAVEENA   94.50
3              3       4           PREETHAAM R HOSGAVI  104.25
4              4       5                      PARAMESH  102.25
...          ...     ...                           ...     ...
3023        3023    3024                 MANIKANTA G M   72.50
3024        3024    3025                     DARSHAN P  110.25
3025        3025    3026                    MANJUNATHA   73.25
3026        3026    3027                   ASHWINI B M   81.75
3027        3027    3028  PRAVEEN DEVENDRAPPA HALAKERI   98.00

[3028 rows x 4 columns]