In [4]:
import pandas as pd
data_frame=pd.DataFrame([
    {
        'Name':"Mahadev",
        'Age':45,
        'Gender':"male",
    },
    {
        'Name':"Shankar"
    }
])
data_frame

      Name   Age Gender
0  Mahadev  45.0   male
1  Shankar   NaN    NaN

In [31]:
import pandas as pd
data_result=pd.read_csv('data_result.csv')
data_result
# print(data_result)
# print(data_result[data_result['Candidate Name']],['total'])
print(data_result[data_result['Candidate Name']=='VIJAY'][['Candidate Name','total ']])

    Candidate Name  total
150          VIJAY   92.75

In [36]:
print(list(data_result.shape))
print(data_result.shape[0],data_result.shape[1])

[3028, 4]
3028 4

In [7]:
import pandas as pd
data_result_va=pd.read_csv('data_result.csv')
data_result_va
data_result_va.describe()
data_result_va=data_result_va.rename(columns={'total ':'Total'})## using dictionary

data_result_va['GraceMarks']=data_result_va['Total'].apply(lambda x:x+(x/10))
print(data_result_va)

      Unnamed: 0  Sl.No.                Candidate Name   Total  GraceMarks
0              0       1                  DIVYASHREE M   88.75      97.625
1              1       2                    PRADEEP GN   70.00      77.000
2              2       3                       NAVEENA   94.50     103.950
3              3       4           PREETHAAM R HOSGAVI  104.25     114.675
4              4       5                      PARAMESH  102.25     112.475
...          ...     ...                           ...     ...         ...
3023        3023    3024                 MANIKANTA G M   72.50      79.750
3024        3024    3025                     DARSHAN P  110.25     121.275
3025        3025    3026                    MANJUNATHA   73.25      80.575
3026        3026    3027                   ASHWINI B M   81.75      89.925
3027        3027    3028  PRAVEEN DEVENDRAPPA HALAKERI   98.00     107.800

[3028 rows x 5 columns]