In [7]:
import pandas as pd
df=pd.read_csv('test.csv')
## fetch the first 5 rows
df.drop('APPLICATION NUMBER',axis=1,inplace=True)
df.drop('Reg No',axis=1,inplace=True)
print(df.head(5))
# print(df)
print(df.tail(5))

   Sl.No.       Candidate Name  PAPER 1  PAPER 2     tm
0       1         DIVYASHREE M    48.75    40.00   88.75
1       2           PRADEEP GN    32.50    37.50   70.00
2       3              NAVEENA    52.00    42.50   94.50
3       4  PREETHAAM R HOSGAVI    49.75    54.50  104.25
4       5             PARAMESH    52.50    49.75  102.25
      Sl.No.                Candidate Name  PAPER 1  PAPER 2     tm
3023    3024                 MANIKANTA G M    33.50    39.00   72.50
3024    3025                     DARSHAN P    59.25    51.00  110.25
3025    3026                    MANJUNATHA    39.50    33.75   73.25
3026    3027                   ASHWINI B M    34.75    47.00   81.75
3027    3028  PRAVEEN DEVENDRAPPA HALAKERI    40.00    58.00   98.00

In [8]:
print(df)

      Sl.No.                Candidate Name  PAPER 1  PAPER 2     tm
0          1                  DIVYASHREE M    48.75    40.00   88.75
1          2                    PRADEEP GN    32.50    37.50   70.00
2          3                       NAVEENA    52.00    42.50   94.50
3          4           PREETHAAM R HOSGAVI    49.75    54.50  104.25
4          5                      PARAMESH    52.50    49.75  102.25
...      ...                           ...      ...      ...     ...
3023    3024                 MANIKANTA G M    33.50    39.00   72.50
3024    3025                     DARSHAN P    59.25    51.00  110.25
3025    3026                    MANJUNATHA    39.50    33.75   73.25
3026    3027                   ASHWINI B M    34.75    47.00   81.75
3027    3028  PRAVEEN DEVENDRAPPA HALAKERI    40.00    58.00   98.00

[3028 rows x 5 columns]

In [10]:
print(df.describe())

            Sl.No.      PAPER 1      PAPER 2          tm
count  3028.000000  3028.000000  3028.000000  3028.000000
mean   1514.500000    45.604359    40.158686    85.763045
std     874.252633    10.196997     9.521746    13.448085
min       1.000000    17.750000     9.750000    70.000000
25%     757.750000    38.437500    33.750000    75.250000
50%    1514.500000    45.500000    40.000000    82.000000
75%    2271.250000    52.500000    46.250000    93.000000
max    3028.000000    84.000000    74.750000   147.750000

In [11]:
df.dtypes

Sl.No.              int64
Candidate Name     object
PAPER 1           float64
PAPER 2           float64
tm                float64
dtype: object

In [34]:

import pandas as pd

df=pd.read_csv('test.csv')
# print(df)
print(df['PAPER 1'])
print(df['total'])

0       48.75
1       32.50
2       52.00
3       49.75
4       52.50
        ...
3023    33.50
3024    59.25
3025    39.50
3026    34.75
3027    40.00
Name: PAPER 1, Length: 3028, dtype: float64

KeyError: 'total'

In [20]:
df.isnull()

      Sl.No.  Candidate Name  PAPER 1  PAPER 2    tm
0      False           False    False    False  False
1      False           False    False    False  False
2      False           False    False    False  False
3      False           False    False    False  False
4      False           False    False    False  False
...      ...             ...      ...      ...    ...
3023   False           False    False    False  False
3024   False           False    False    False  False
3025   False           False    False    False  False
3026   False           False    False    False  False
3027   False           False    False    False  False

[3028 rows x 5 columns]

In [ ]:
import pandas as pd 
data=pd.read_csv('test.csv')
# print(data)
# print(data.describe())
data.drop('Reg No',axis=1,inplace=True)
# print(data.isnull().sum())
# print(data)
data.drop('APPLICATION NUMBER',axis=1,inplace=True)
data.to_csv('data1.csv')

In [24]:
import pandas as pd 
result_data=pd.read_csv('data1.csv')
# print(result_data)
# result_data['total ']
# result_data.sort_values(by=['total'])
# print(result_data)
# print(result_data)
result_data.drop('PAPER 1',axis=1,inplace=True)
result_data.drop('PAPER 2',axis=1,inplace=True)
# result_data.describe()
# result_data.sort_values(by=['total'])
result_data.to_csv('data_result.csv')

In [33]:
import pandas as pd 
import numpy as np 
data_result=pd.read_csv('data_result.csv')
data_result.head(150)
data_result.tail(150)
data=np.array(data_result)
print(type(data))

<class 'numpy.ndarray'>

In [36]:
import pandas as pd 
data_set=pd.read_csv('data_result.csv')
print(data_set)
data_result.dtypes

      Unnamed: 0.1  Unnamed: 0  Sl.No.                Candidate Name  total
0                0           0       1                  DIVYASHREE M   88.75
1                1           1       2                    PRADEEP GN   70.00
2                2           2       3                       NAVEENA   94.50
3                3           3       4           PREETHAAM R HOSGAVI  104.25
4                4           4       5                      PARAMESH  102.25
...            ...         ...     ...                           ...     ...
3023          3023        3023    3024                 MANIKANTA G M   72.50
3024          3024        3024    3025                     DARSHAN P  110.25
3025          3025        3025    3026                    MANJUNATHA   73.25
3026          3026        3026    3027                   ASHWINI B M   81.75
3027          3027        3027    3028  PRAVEEN DEVENDRAPPA HALAKERI   98.00

[3028 rows x 5 columns]

Unnamed: 0.1        int64
Unnamed: 0          int64
Sl.No.              int64
Candidate Name     object
total             float64
dtype: object